<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/common}">

<!-- 해당 page 고유 pre-css 추가 -->
<th:block layout:fragment="pre-css"></th:block>

<!-- 해당 page 고유 post-css 추가 -->
<th:block layout:fragment="post-css"></th:block>

<!-- Content -->
<div class="d-flex flex-column flex-root" layout:fragment="content">
	<!--begin::Page-->
	<div class="d-flex flex-row flex-column-fluid page">
		<!-- aside fragment 사용 -->
		<th:block th:if="${isAside}">
			<th:block th:replace="@{'fragments/common/aside'} :: asideFragment"></th:block>
		</th:block>
		<!--begin::Wrapper-->
		<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
			<!--begin::Content-->
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<div class="mt-5"></div>
				<!--begin::Entry-->
				<div class="d-flex flex-column-fluid">
					<!-- create fragment 사용 -->
					<th:block th:replace="@{'__${fragments}__'} :: createFragment('ticket_form', '__${form_action}__', __${isModal}__)"></th:block>
				</div>
				<!--end::Entry-->
			</div>
			<!--end::Content-->
			<!-- footer fragment 사용 -->
			<th:block th:replace="@{'fragments/common/footer'} :: footerFragment"></th:block>
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>

<!-- 해당 page 고유 pre-script 추가 -->
<th:block layout:fragment="pre-script"></th:block>

<!-- 해당 page 고유 post-script 추가 -->
<th:block layout:fragment="post-script"></th:block>
</html>