<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Boolean.Radio Fragment 선언-->
<th:block th:fragment="fragment">
	<th:block th:if="${field.hidden}">
		<input type="hidden" class="form-control" th:name="${field.id}" name="name"
			th:value="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)}" />
	</th:block>

	<th:block th:unless="${field.hidden}">
		<div class="row">
			<div class="col-12">
				<label th:classappend="${auth && !field.readonly && field.require} ? 'text-primary'" class="col-form-label" th:for="${field.id}" for="id" th:utext="${field.require} ? ${'* ' + field.label} : ${field.label}">Label</label>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!--/* 권한이 있을 경우 */-->
				<th:block th:if="${auth}">
					<th:block th:if="${#strings.isEmpty(field.action.type)}">
						<div class="radio-inline">
							<label class="radio radio-solid">
								<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="true" th:disabled="${field.readonly}"
									th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == true" />
								<span></span>Y
							</label>
							<label class="radio radio-solid">
								<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="false" th:disabled="${field.readonly}" 
									th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == false" />
								<span></span>N
							</label>
						</div>
					</th:block>

					<th:block th:unless="${#strings.isEmpty(field.action.type)}">
						<div class="radio-inline">
							<label class="radio radio-solid">
								<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="true" th:disabled="${field.readonly}" th:attr="${!#strings.isEmpty(field.action.type)} ? ${field.action.type}=${field.action.event}"
									th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == true" />
								<span></span>Y
							</label>
							<label class="radio radio-solid">
								<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="false" th:disabled="${field.readonly}" th:attr="${!#strings.isEmpty(field.action.type)} ? ${field.action.type}=${field.action.event}"
									th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == false" />
								<span></span>N
							</label>
						</div>
					</th:block>
				</th:block>

				<!--/* 권한이 없을 경우 */-->
				<th:block th:unless="${auth}">
					<div class="radio-inline">
						<label class="radio radio-solid radio-disabled">
							<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="true" disabled="disabled"
								th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == true" />
							<span></span>Y
						</label>
						<label class="radio radio-solid radio-disabled">
							<input type="radio" th:name="${field.id}" name="name" th:id="${field.id}" id="id" value="false" disabled="disabled" 
								th:checked="${#maps.isEmpty(object) ? field.def_val : (#maps.containsKey(object, field.id) ? object.get(field.id) : field.def_val)} == false" />
							<span></span>N
						</label>
					</div>
				</th:block>
			</div>
		</div>
	</th:block>
</th:block>
</html>