<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--LAYERS(icon_0) 선언-->
<th:block th:fragment="LAYERS">
	<th:block th:replace="@{'fragments/svg/design/svg'} :: Layers"></th:block>
</th:block>

<!--LAYOUT_4_BLOCKS(icon_1) 선언-->
<th:block th:fragment="LAYOUT_4_BLOCKS">
	<th:block th:replace="@{'fragments/svg/layout/svg'} :: Layout-4-blocks"></th:block>
</th:block>

<!--BARCODE_READ(icon_2) 선언-->
<th:block th:fragment="BARCODE_READ">
	<th:block th:replace="@{'fragments/svg/shopping/svg'} :: Barcode-read"></th:block>
</th:block>

<!--BUCKET(icon_3) 선언-->
<th:block th:fragment="BUCKET">
	<th:block th:replace="@{'fragments/svg/design/svg'} :: Bucket"></th:block>
</th:block>

<!--COMPILING(icon_4) 선언-->
<th:block th:fragment="COMPILING">
	<th:block th:replace="@{'fragments/svg/code/svg'} :: Compiling"></th:block>
</th:block>

<!--SETTINGS_1(icon_5) 선언-->
<th:block th:fragment="SETTINGS_1">
	<th:block th:replace="@{'fragments/svg/general/svg'} :: Settings-1"></th:block>
</th:block>

<!--LIBRARY(icon_6) 선언-->
<th:block th:fragment="LIBRARY">
	<th:block th:replace="@{'fragments/svg/home/svg'} :: Library"></th:block>
</th:block>

<!--BOX2(icon_7) 선언-->
<th:block th:fragment="BOX2">
	<th:block th:replace="@{'fragments/svg/shopping/svg'} :: Box2"></th:block>
</th:block>

<!--PICTURES1(icon_8) 선언-->
<th:block th:fragment="PICTURES1">
	<th:block th:replace="@{'fragments/svg/files/svg'} :: Pictures1"></th:block>
</th:block>

<!--PENANDRULLER(icon_9) 선언-->
<th:block th:fragment="PENANDRULLER">
	<th:block th:replace="@{'fragments/svg/design/svg'} :: PenAndRuller"></th:block>
</th:block>

<!--LAYOUT_LEFT_PANEL_2(icon_10) 선언-->
<th:block th:fragment="LAYOUT_LEFT_PANEL_2">
	<th:block th:replace="@{'fragments/svg/layout/svg'} :: Layout-left-panel-2"></th:block>
</th:block>

<!--LAYOUT_HORIZONTAL(icon_11) 선언-->
<th:block th:fragment="LAYOUT_HORIZONTAL">
	<th:block th:replace="@{'fragments/svg/layout/svg'} :: Layout-horizontal"></th:block>
</th:block>

<!--UPLOAD(icon_12) 선언-->
<th:block th:fragment="UPLOAD">
	<th:block th:replace="@{'fragments/svg/files/svg'} :: Upload"></th:block>
</th:block>

<!--LAYOUT_ARRANGE(icon_13) 선언-->
<th:block th:fragment="LAYOUT_ARRANGE">
	<th:block th:replace="@{'fragments/svg/layout/svg'} :: Layout-arrange"></th:block>
</th:block>

<!--DIAGNOSTICS(icon_14) 선언-->
<th:block th:fragment="DIAGNOSTICS">
	<th:block th:replace="@{'fragments/svg/devices/svg'} :: Diagnostics"></th:block>
</th:block>

<!--ATTACHMENT2(icon_15) 선언-->
<th:block th:fragment="ATTACHMENT2">
	<th:block th:replace="@{'fragments/svg/general/svg'} :: Attachment2"></th:block>
</th:block>

<!--SELECT(icon_16) 선언-->
<th:block th:fragment="SELECT">
	<th:block th:replace="@{'fragments/svg/design/svg'} :: Select"></th:block>
</th:block>

<!--EQUALIZER(icon_17) 선언-->
<th:block th:fragment="EQUALIZER">
	<th:block th:replace="@{'fragments/svg/media/svg'} :: Equalizer"></th:block>
</th:block>

<!--BOOK_OPEN(icon_18) 선언-->
<th:block th:fragment="BOOK_OPEN">
	<th:block th:replace="@{'fragments/svg/home/svg'} :: Book-open"></th:block>
</th:block>

<!--MIRROR(icon_19) 선언-->
<th:block th:fragment="MIRROR">
	<th:block th:replace="@{'fragments/svg/home/svg'} :: Mirror"></th:block>
</th:block>
</html>